__pycache__/
*.py[cod]
*.so
*.egg-info/
.python-version
venv/
.env/
.venv/

*.nc
*.csv
*.pkl
*.h5
*.zarr
.ipynb_checkpoints/

*.png
*.jpg
*.pdf

.DS_Store
Thumbs.db
*.tmp
*.log

.vscode/
.idea/
*.swp
*.swo

*.ipynb
.ipynb_checkpoints/

!data_plev.nc
!data_sfc.nc
!era5_surface_*.nc
